<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearby Restaurants Search</title>
    <style>
        form {
            font-family: cursive;
        }
        #name:hover {
            filter: drop-shadow(1px 1px 10px rgb(209, 146, 18));
        }
    </style>
    {% load static %}
    <script src="{% static 'FoodApp/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4oBoretFq5JNK1Zzo2gxk5rSedxmtjiw&loading=async&libraries=maps,marker&v=beta" defer></script>
</head>
<body>
    <h1>Nearby Restaurants Search</h1>

    <form id="restaurantSearchForm">
        <label for="name">Search by Name:</label>
        <input type="text" name="name" id="name" required>

        <button type="submit" id="searchButton">Search</button>
    </form>

    <ul id="restaurantList"></ul>
     <gmp-map center="33.7490,-84.3880" zoom="12" style="height: 400px; width: 100%;"></gmp-map>


</body>
</html>
